################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.cache
*.pdb
*.manifest

### VisualStudio ###
*/.vs/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/

*/Debug/*

# NCrunch
*/NCrunch/*
.*crunch*.local.xml
nCrunchTemp_*

# Click-Once directory
publish/

/*/[Bb]in/
/*/[Oo]bj/
/*/[Dd]ebug/
/AspCoreBases/.vs/*
