<ul>
  <li>
    <h5><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h5>
  </li>
  <li>
    <h5><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h5>
  </li>
  <li>
    <h5><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h5>
  </li>
  <li>
    <h5><a routerLink="/heroes" routerLinkActive="active">Custom Tour of Heroes</a></h5>
  </li>
  <li>
    <h5><a routerLink="/NotFound" routerLinkActive="active">Not Found</a></h5>
  </li>
</ul>

<hr />
